{% extends "library/base.html" %}

{% load static %}

{% block content %}
    <div class="container my-3 p-3">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                    <div class="alert alert-info">
                        Your password has been set. Please return to the Site to Log in with your new password</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}